[Unit]
Description=Telegram Ipset Bot
After=syslog.target
After=network.target

[Service]
Environment=BOT_TOKEN=''
Type=simple
User=root
WorkingDirectory=/var/www/ipset-bot
ExecStart=/var/www/ipset-bot/venv/bin/python3 /var/www/ipset-bot/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target